
.msgtab, .conttab
{
    float: left;
    position: absolute;
    top: 60px;

    color: white;

    border: none;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}

.msgtab
{
  width: 50px !important;
  height: 650px;
}

.conttab
{
  overflow-y: scroll;
  left: 50px;

  width: 500px !important;
  height: 650px;
  padding: 10px;
}

.conttab::-webkit-scrollbar-track
{
    margin-top: 10px;

    border-radius: 10px;
    background-color: transparent;
}

.conttab::-webkit-scrollbar
{
    width: 10px;

    border-radius: 10px;
    background-color: transparent;
}

.conttab::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.dp_down {
  border: none !important;
  background: transparent !important;
}

.dp_down:focus {
  box-shadow: none !important;
}

.mail_cont {
  width: 480px;
  background: white;
  padding: 5px 15px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.mail_cont_addr {
  color: black;
  font-weight: bold;
}

.mail_cont_subj {
  color: #274b91;
  font-weight: 700;
}

.clearfix {
  content: '';
  clear: both;
}

.mail_view
{
  overflow: hidden;
  position: fixed;
  top: 60px;
  left: 550px;

  width: 700px !important;
  height: 650px;
  padding: 10px;
  background: white;
  color: black;
}

@media (max-width: 850px) {
  .mail_view {
    left: 50px !important;
  }
}

.mail_view_html {
  overflow: scroll;
}

.mail_view_html::-webkit-scrollbar-track
{
    margin-top: 10px;

    border-radius: 10px;
    background-color: transparent;
}

.mail_view_html::-webkit-scrollbar
{
    width: 10px;

    border-radius: 10px;
    background-color: transparent;
}

.mail_view_html::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.drag_par {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.new_mail {
  width: 400px;
  height: 500px;
  box-shadow: outset 2px 2px 6px rgba(0, 0, 0, .3);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -250px;
  margin-left: -200px;
  z-index: 15;
}

.new_mail_cont {
  width: 100%;
  background: white;
  padding: 0px 0px 10px;
}

.head_top_title {
  float: left;
  width: 87%;
  margin-left: 5px;
  padding: 5px;
}

.head_top_icon {
  float: left;
  width: 5%;
  padding: 5px 5px;
  cursor: pointer;
}

.head_top_icon:hover {
  color: #918989;
}

.head_top {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  float: left;
  width: 100%;
}

.bor_top {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.bor_bottom {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.head_send {
  width: 95%;
  height: 30px;
  margin: 5px;
  padding: 5px;
}

.head_inp {
  border: none;
  outline: none;
  color: black;
}

.head_body {
  width: 95%;
  height: 200px;
  resize: none;
  padding: 5px;
  margin: 5px;
}

.pd_left_80 {
  padding-left: 80%;
}

.fs_30 {
  font-size: 35px !important;
}
.fs_28 {
  font-size: 28px !important;
}
.msgtab_icon_bot {
  margin-top: 10px;
}

.msg
{
    margin: 10px 10px 0 10px !important;
    padding: 10px;

    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background: rgba(0, 0, 0, .4);
}

.msg_img
{
    float: left;

    width: max-content;
    margin: 0 10px;
}

.conttext
{
    height: 360px;
}

#from
{
    font-size: 1.2em;
    font-weight: bold;
}

#search
{
    width: 85%;
    margin: 12px 0 7px 7px;
    padding: 5px;

    border: none;
    border-radius: 5px;
    background: transparent;
}

#search:focus
{
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;

    color: #777;
    background: #fff;
}

#search::placeholder
{
    color: white;
}

.srch
{
    display: -webkit-flex;
    display:         flex;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;

    min-width: 250px;
    max-width: 400px;
    padding: 0 !important;
}

@media (max-width: 800px)
{
    .srch
    {
        float: left;

        width: 25%;
        margin-left: 30px;
    }
}

#img_srch
{
    width: 40px;
    height: 30px;
    margin: 12px 5px 5px 0;
    padding: 5px 10px;

    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

#search:focus + #img_srch:hover
{
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;

    background: rgba(225, 225, 225, .3);
}

#compose
{
    float: left;

    width: 120px !important;
    margin: 5px 10px 20px 10px;
    padding: 10px 10px 10px 5px;

    text-align: center;

    color: white;
    border-radius: 10px;
    background: rgba(0, 0, 0, .4);
}

#compose:hover
{
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
            box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
}
