@font-face {
  font-family: myFirstFont;

  src: url(Muskaters.ttf) format('truetype');
}

html {
  min-height: 100%;
}

body {
  background: url(login5.jpg) no-repeat fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.thabpet {
  font-family: myFirstFont;
  font-size: 40px;

  color: white;
  text-shadow: 2px 2px 8px #000000;
}

.back2 {
  position: fixed;
  z-index: -4;
  top: 0;
  left: 0;

  display: block;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);
}

.dp {
  border-style: solid;
  border-color: white;
  border-radius: 50%;
}

.margin-top {
  margin-top: 75px;
}

.neg-margin-top {
  margin-top: -50px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form {
  width: 270px;
}

.inp {
  font-size: 2em;

  display: block;
  float: left;

  width: 20px;
  margin-bottom: 15px;
  margin-left: 10px;
  padding: 14px 14px 14px 22px;

  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;

  color: white;
  border: none;
  border-radius: 4px;
  background: rgba(225, 225, 225, 0.6);
}

.inp:focus, .inp2:focus {
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;

  color: #777777;
  background: #FFFFFF;
}

span {
  font: 0.9em Arial;
}

.bs {
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.err-msg {
  position: relative;

  width: 100%;

  color: white;
}

.submit {
  display: none;
}

@-webkit-keyframes popin {
  from {
    transform: scale(1, 1);

    opacity: 1;
  }
  to {
    transform: scale(0, 0);

    opacity: 0;
  }
}

@keyframes popin {
  from {
    transform: scale(1, 1);

    opacity: 1;
  }
  to {
    transform: scale(0, 0);

    opacity: 0;
  }
}

@-webkit-keyframes popout {
  from {
    transform: scale(0, 0);

    opacity: 0;
  }
  to {
    transform: scale(1, 1);

    opacity: 1;
  }
}

@keyframes popout {
  from {
    transform: scale(0, 0);

    opacity: 0;
  }
  to {
    transform: scale(1, 1);

    opacity: 1;
  }
}
