@font-face {
  font-family: myFirstFont;
  src: url(Muskaters.ttf) format('truetype');
}

html {
  min-height: 100%;
}

body {
  overflow: hidden;

  /*background: url(mback8.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;*/
}
header {
  position: absolute;
  width: 100%;
  height: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  width: 100%;
  height: 40px;
  color: white;
}

canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.div_hd_icon {
  width: 130px;
  height: 60px;
}

.div_srch {
  width: 220px;
  height: 60px;
}

.foot_cont {
  margin: 10px;
  padding-left: 10px;
  height: 20px;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.thabpet {
  position: absolute;
  margin-left: 10px;
  color: white !important;
  text-shadow: 2px 2px 8px #000000;
  font-size: 40px;
  font-family: myFirstFont;
  cursor: pointer;
}

a {
  color: black !important;
  text-decoration: none !important;
}

.form {
  position: fixed;
  margin-top: 120px;
  margin-left: 60%;
  padding: 20px 20px 10px 20px;
  width: 320px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 0 rgba(225, 225, 225, 0.18);
     -moz-box-shadow: 0 1px 0 rgba(225, 225, 225, 0.18);
          box-shadow: 0 1px 0 rgba(225, 225, 225, 0.18);
  text-align: center;
}

@media (max-width: 850px) {
  .form {
    margin-left: 30% !important;
  }
  #bg {
    width: 200% !important;
  }
}

.login-err {
  display: block;
  float: left;
  margin: 0 10px 10px;
  width: 81%;
  color: white;
  font-size: 0.9em;
}

#SignUp, #SignIn {
  margin-bottom: 10px;
}

#SignUp {
  float: left;
}

#SignIn {
  margin-left: 90%;
}

.opac_6 {
  opacity: 0.6;
}

#signUpImg, #signInImg {
  opacity: 0.8;
}

#signUpImg:hover, #signInImg:hover, .close_sign:hover {
  opacity: 1;
}

.pop_wid {
  width: 220px !important;
}

.inp {
  display: block;
  float: left;
  padding: 5px 9px;
  width: 280px;  /*margin-bottom: 15px;*/
  border: none;
  border-radius: 4px;
  background: rgba(225, 225, 225, 0.2);
  color: white;
  /*font: "Book Antiqua";*/
  font-size: 0.8em;
  /*transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;*/
}

.inp::after {
  content: '';
}

.inpt {
  position: relative;
  display: block;
  float: left;
  padding: 10px;
  width: 260px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  opacity: 0;
}

.inpt_focus {
  margin-top: 20px;
  outline: none;
  background: #FFFFFF;
  color: #777777;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

.inpt_unfocus {
  margin-top: 0;
}

.label_focus {
  padding: 0 0 0 0;
  height: 20px;
  font-size: 12px;
}

.label_unfocus {
  padding: 5px 0 0 6px;
  height: 30px;
  font-size: 16px;
}

.labelText {
  position: absolute;
  z-index: 10;
  display: flex;
  box-sizing: border-box;
  width: 260px;
  color: white;
  font-weight: 200;
  cursor: text;

  user-select: none;
}

#tooltip {
  background: transparent !important;
}

.tool_tip {
  position: absolute;
  z-index: 4;
  margin-top: -55px;
  margin-left: 5px;
  width: 150px;
  background-color: transparent;
  color: white;
  text-shadow: 2px 2px 2px #000000;
  font-weight: 400;
}

.tool_tip2 {
  position: absolute;
  z-index: 4;
  margin-top: -50px;
  margin-left: -3px;
  width: 150px;
  background-color: transparent;
  color: white;
  text-shadow: 2px 2px 2px #000000;
  font-weight: 100;
  font-size: 12px;
}

.err_msg {
  float: left;
  margin-top: 1px;
  margin-bottom: 15px;
  padding: 5px 10px 5px;
  width: 280px;
  background: rgba(179, 5, 5, 0.5);
  color: white;
  font-size: 0.8em;
}

.err_msg_true {
  height: 25px;
  -webkit-transition: height 0.3s ease;
}

.err_msg_false {
  padding: 0 10px;
  height: 0;
  -webkit-transition: height 0.3s ease;
}

.submit {
  display: none;
}

.bubb_l2 {
  position: fixed;
  margin-top: 40px;
  margin-left: -40px;
}

.bubb_l1 {
  position: fixed;
  margin-top: 45px;
  margin-left: -15px;
}

.bubb {
  position: fixed;
  margin-top: -20px;
  margin-left: -360px;
}

.bubb_1 {
  margin-top: -92px;  /*position: fixed;*/
  margin-left: 63px;
}

.bubb_2 {
  margin-top: -75px;  /*position: fixed;*/
  margin-left: 82px;
}

.bubb_3 {
  margin-top: -83px;  /*position: fixed;*/
  margin-left: 130px;
}

.bubb_4 {
  margin-top: -93px;  /*position: fixed;*/
  margin-left: 173px;
}

.bubb_5 {
  margin-top: -83px;  /*position: fixed;*/
  margin-left: 240px;
}

.bubb_6 {
  margin-top: -64px;  /*position: fixed;*/
  margin-left: 176px;
}

.toolTipStyle {
  position: absolute;
  margin-top: -50px;
  margin-left: -150px;
  width: 150px;
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px 2px #000000;
  font-weight: 400;
}

.popover_content {
  float: left;
  width: 100%;
  font-size: 10px;
}

.popover_title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
}

.popover_in_cont {
  margin-top: 3px;
  margin-left: 6px;
  height: 24px;
}

.cur_pt {
  cursor: pointer;
}

.header_icon {
  padding: 5px;
}

.wid {
  width: 100%;
}

.wid_90 {
  width: 90%;
}

.fl_left {
  float: left;
}

.fl_right {
  float: right;
}

.verify_user {
  position: fixed;
  margin-left: -230px;  /*margin-top: 120px;*/
  padding: 10px;  /*box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #CCCCCC;*/
  border-radius: 3px;
  background-color: #EEEEEE;
}

.display_none {
  display: none !important;
}

.display_block {
  display: block !important;
}

@-webkit-keyframes slidedown {
  from {
    transform: scale(1, 0);
  }
  to {
    transform: scale(1, 1);
  }
}

@keyframes slidedown {
  from {
    transform: scale(1, 0);
  }
  to {
    transform: scale(1, 1);
  }
}

@-webkit-keyframes popout {
  from {
    opacity: 1;
    transform: scale(1, 1);
  }
  to {
    opacity: 0;
    transform: scale(0, 0);
  }
}

@keyframes popout {
  from {
    opacity: 1;
    transform: scale(1, 1);
  }
  to {
    opacity: 0;
    transform: scale(0, 0);
  }
}

@-webkit-keyframes popin {
  from {
    opacity: 0;
    transform: scale(0, 0);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes popin {
  from {
    opacity: 0;
    transform: scale(0, 0);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}
