<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Thabpet - A new fast and efficient Email</title>
  <meta name="description" content="Thabpet is new fast and efficient Email which offers cool new features and provides you with a difference experience compared to traditional email.">
  <meta name="google-site-verification" content="3dg29ZYHfIs_Z2UB5S0i5Cncn9E_5O0d1WKS4Wv0mLA" />
  <link rel="canonical" href="https://www.thabpet.com" />
  <link rel="icon" type="image/x-icon" href="tp logo small.jpg" />
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css" />
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" /> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/prop-types/15.6.0/prop-types.min.js"></script>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react-transition-group/2.2.1/react-transition-group.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/reactstrap/5.0.0-alpha.3/reactstrap.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/react-md@1.2.8/dist/react-md.min.js"></script>
</head>

<body>
  <div id="app"></div>
  <script src="client.min.js"></script>
</body>

</html>
